<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
 <ion-segment scrollable
              mode="md"
              (ionChange)="cambioCategoria($event)">

   <ion-segment-button mode="md"
                        *ngFor="let categoria of categorias"
                        [value]="categoria">
     <ion-label>{{ categoria }}</ion-label>
   </ion-segment-button>
    
   
 </ion-segment>

 
 <app-noticias [noticias]="noticias"></app-noticias>
 <ion-infinite-scroll threshold="150px"  position="bottom" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando Noticias...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

  
</ion-content>
